<?xml version="1.0" encoding="utf-8"?>
<Database>
    <Maps>
        <Row File="{bmg-mode}maps/continents-bmg.js" Name="LOC_MAP_CONTINENTS_BMG_NAME" Description="LOC_MAP_CONTINENTS_BMG_DESCRIPTION" SortIndex="303"/>
    </Maps>
    <MapSizes>
        <Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_STANDARD_SIX_BMG" Name="LOC_MAPSIZE_STANDARD_SIX_BMG_NAME" Description="LOC_MAPSIZE_STANDARD_SIX_BMG_DESCRIPTION" MinPlayers="2" MaxPlayers="6" MaxHumans="6" DefaultPlayers="6" SortIndex="53"/>
        <Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_STANDARD_SIX_BMG" Name="LOC_MAPSIZE_STANDARD_SIX_BMG_NAME" Description="LOC_MAPSIZE_STANDARD_SIX_BMG_DESCRIPTION" MinPlayers="2" MaxPlayers="6" MaxHumans="6" DefaultPlayers="6" SortIndex="54"/>

        <Row Domain="StandardMapSizes" MapSizeType="MAPSIZE_STANDARD_EIGHT_BMG" Name="LOC_MAPSIZE_STANDARD_EIGHT_BMG_NAME" Description="LOC_MAPSIZE_STANDARD_EIGHT_BMG_DESCRIPTION" MinPlayers="2" MaxPlayers="8" MaxHumans="8" DefaultPlayers="8" SortIndex="53"/>
        <Row Domain="DistantLandsMapSizes" MapSizeType="MAPSIZE_STANDARD_EIGHT_BMG" Name="LOC_MAPSIZE_STANDARD_EIGHT_BMG_NAME" Description="LOC_MAPSIZE_STANDARD_EIGHT_BMG_DESCRIPTION" MinPlayers="2" MaxPlayers="8" MaxHumans="8" DefaultPlayers="8" SortIndex="54"/>

    </MapSizes>

</Database>